@import "../../styles/color-pallete.scss";

.box-converter {
  width: 100%;
  height: 35vh;

  margin-top: 5%;
  margin-bottom: 5%;
  padding-top: 2%;

  border-radius: 1em;

  background: $color-component-primary;

  & input {
    width: 80%;

    margin-top: 5%;
    margin-left: 5%;

    padding: 5%;

    border-radius: 0.5em;

    border: none;

    background: silver;

    font-weight: 600;

    &::placeholder {
      font-size: 0.85em;
    }
  }

  & select {
    width: 90%;

    margin-top: 5%;
    margin-left: 5%;

    padding: 5%;

    border-radius: 0.5em;

    border: none;

    font-weight: 600;

    background: silver;
  }
}

@media screen and (min-width: 375px) {
  .box-converter {
    height: 40vh;
  }
}

@media screen and (min-width: 425px) {
  .box-converter {
    height: 45vh;
  }
}

@media screen and (min-width: 768px) {
  .box-converter {
    height: 30.5vh;
    margin-top: 15%;

    & input {
      margin-top: 8%;

      &::placeholder {
        font-size: 0.8em;
      }
    }

    & select {
      margin-top: 8%;
    }
  }
}

@media screen and (min-width: 1024px) {
  .box-converter {
    margin-top: -12%;
    height: 29vh;

    & input {
      margin-top: 5%;

      padding: 2%;

      &::placeholder {
        font-size: 1em;
      }
    }

    & select {
      margin-top: 5%;
      padding: 2%;
    }
  }
}

@media screen and (min-width: 1125px) {
  .box-converter {
    & input {
      margin-top: 3%;
      margin-left: 7%;

      &::placeholder {
        font-size: 1em;
      }
    }

    & select {
      margin-top: 3%;
      margin-left: 7%;
      width: 84%;
    }
  }
}
