@import "../../styles/color-pallete.scss";

.sim-title {
  position: absolute;
  top: 10%;
}

.investment-box {
  &-input {
    width: 90%;

    margin-top: 5%;
    padding: 5%;

    border: none;
    border-radius: 0.5em;

    background: silver;

    font-weight: 600;

    &::placeholder {
      font-size: 0.85em;
    }
  }

  &-entry {
    margin-top: 15%;
  }

  &-calc {
    margin-top: 3%;
    margin-bottom: 5%;
  }

  &-entry,
  &-calc {
    width: 80vw;

    padding: 5%;

    border-radius: 1em;

    background: $color-component-primary;

    & h3 {
      text-transform: uppercase;
      text-align: center;

      margin-top: 3%;
    }

    & button {
      width: 100%;

      margin-top: 5%;
      padding: 5%;

      border: none;
      border-radius: 0.5em;

      background: $color-primary;

      color: $color-text-primary;
      font-weight: 600;
      text-transform: uppercase;
    }

    & select {
      width: 100%;

      margin-top: 5%;
      padding: 5%;

      border-radius: 0.5em;

      border: none;

      font-weight: 600;

      background: silver;
    }
  }
}
